<div id="<%= dom_id book %>">
  <h3>
    <i class="bi bi-book me-2"></i>
    <strong>
      <%= book.title %>
    </strong>
  </h3>
  <table class="table">
    <tbody>
    <tr>
      <th scope="row">Author</th>
      <td><%= get_field(book, 'author') %></td>
    </tr>
    <tr>
      <th scope="row">Price</th>
      <td><%= number_to_currency book.price %></td>
    </tr>
    <tr>
      <th scope="row">Publisher</th>
      <td><%= get_field(book, 'publisher') %></td>
    </tr>
    <tr>
      <th scope="row">Published</th>
      <td><%= formatted_date(book.published) %></td>
    </tr>
    <tr>
      <th scope="row">Released On</th>
      <td><%= formatted_date(book.release_date) %></td>
    </tr>
    <tr>
      <th scope="row">Pages</th>
      <td><%= get_field(book, 'pages') %></td>
    </tr>
    </tbody>
  </table>
</div>
