<div id="<%= dom_id book %>">
  <h3>
    <i class="bi bi-book me-2"></i>
    <strong>
      <%= book.title %>
    </strong>
  </h3>
  <p>
    <strong>Author</strong>: <%= book.author %><br />
    <strong>Price</strong>: <%= number_to_currency book.price %><br />
    <strong>Published</strong>: <%= book.published.strftime("%m/%d/%Y") %>
  </p>
</div>
